{#
Custom override for Main navigation to use .nav styles
#}

<nav class="nav shadow">
  <h1 class="parkinsans-extra-bold">Junebug</h1> {# Replace with site name or logo if you want #}
  <ul class="parkinsans-bold">
    {% for item in items %}
    <li{{ item.attributes }}>
      <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
      {# Extra auth links on the right, only for anonymous users #}
    {% if not logged_in %}
      <li><a href="/user/register">Signup</a></li>
      <li><a href="/user/login">Login</a></li>
    {% endif %}
  </ul>
</nav>