{% extends "@junebug_theme/layout/page.html.twig" %}

{% block main_content %}

  <div class="row">
    <div class="container-color flex-grow-1 shadow green parkinsans-regular">
      <h1 class="parkinsans-extra-bold headline js-color-rotate">
        Welcome to my website.
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="container-color flex-grow-1 shadow purple parkinsans-regular">
      <img
        src="{{ base_path }}themes/junebug_theme/images/placeholder.jpg"
        alt="placeholder"
        class="img-fixed"
      /><br/>
    </div>

    <div class="container-color flex-grow-1 shadow pink parkinsans-regular">
      <img
        src="{{ base_path }}themes/junebug_theme/images/placeholder.jpg"
        alt="placeholder"
        class="img-fixed"
      /><br/>
    </div>
  </div>

  {# If you ALSO want the "Home" node body below your custom hero/cards, keep parent(): #}
  {# {{ parent() }} #}

{% endblock %}


