{{ page.messages }}

<div class="container">

  <div class="row">
    <div class="container-color flex-grow-1 shadow green parkinsans-regular">
      <h1 class="parkinsans-extra-bold headline js-color-rotate">
        Welcome to my website.
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="container-color flex-grow-1 shadow purple parkinsans-regular">
      <img
        src="{{ base_path }}themes/junebug_theme/images/placeholder.jpg"
        alt="placeholder"
        class="img-fixed"
      /><br/>
    </div>

    <div class="container-color flex-grow-1 shadow pink parkinsans-regular">
      <img
        src="{{ base_path }}themes/junebug_theme/images/placeholder.jpg"
        alt="placeholder"
        class="img-fixed"
      /><br/>
    </div>
  </div>

  {# Keep your node body if you want it below the cards #}
  {# <div class="row"><div class="column flex-grow-1"><div class="container-color off-white">{{ page.content }}</div></div></div> #}

</div>
